@font-face {
    font-family: Percolator;
    src: url(../fonts/Percolator.otf);
}

@font-face {
    font-family: "Percolator expert";
    src: url("../fonts/Percolator-expert.otf");
}

@font-face {
    font-family: "Goudy Old Style";
    src: url("../fonts/Goudy Old Style Regular.ttf");
}

.main-header {
    font-family: Percolator;
    text-align: center;
    font-size: 40px;
}

.header-sub {
    font-family: "Percolator expert";
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.header-sub-img {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
}

.header-sub-placeholder {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
}

.header-sub-bg {
    position: absolute;
    width: 100%;
}
.header-sub-bg img
{
    height: 20px;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}

.header-lit {
    font-family: "Percolator expert";
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}


.list {
    /*background-image: url(back.png);*/
    width: 750px;
    height: 1000px;

    /*background-image: url(../img/back_big.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    /*width: 2441px;
    height: 3211px;*/
    display: inline-block;
    line-height: 1;
    position: relative;
}

.list-inner {
    padding: 65px; /*for background */
    font-size: 0; /* to avoid margins for inline divs*/
    /* for image background*/
    position: absolute;
    top: 0;
}

.list-align {
    text-align: center;
    width: 100%;
    display: none;
    position: relative;
}

ins {
    color: green;
    background: #dfd;
    text-decoration: none
}

del {
    color: red;
    background: #fdd;
    text-decoration: none
}

@page {
    size: 21cm 29.7cm;
    margin: 0; /* change the margins as you want them to be. */
}

body {
    margin: 0;
}

.checkbox_vtm {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    /*background-image: url("../img/checkbox_big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;*/
    vertical-align: middle;
    line-height: 1;
}

.checkbox_vtm span {
    vertical-align: top;
    line-height: 12px;
    font-size: 10px;
}

@media print {
    .non-printable {
        display: none;
    }

    .list {
        page-break-inside: avoid;
    }
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: none;
}

.list-sep {
    width: 100%;
    height: 50px;
    display: block;
}

.prop-header {
    font-family: "Percolator expert";
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.prop-header-nobg {
    font-family: "Percolator expert";
    text-align: center;
    font-size: 22px;
    width: 33.3%;
    display: inline-block;
}

.prop-header-img {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
}

.prop-header-placeholder {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 25px;
}

.prop-header-bg {
    position: absolute;
    width: 100%;
}
.prop-header-bg img
{
    height: 20px;
}


.useful_things {
    margin-top: 200px;
}
