@font-face {
    font-family: Percolator;
    src: url(../fonts/Percolator.otf);
}

@font-face {
    font-family: "Percolator expert";
    src: url("../fonts/Percolator-expert.otf");
}

@font-face {
    font-family: "Goudy Old Style";
    src: url("../fonts/Goudy Old Style Regular.ttf");
}

.main-header {
    font-family: Percolator;
    text-align: center;
    font-size: 40px;
}

.header-sub {
    font-family: "Percolator expert";
    text-align: center;
    font-size: 28px;
    background-image: url("../img/h1_bg_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    line-height: 34px;
}
@media print
{
    * {-webkit-print-color-adjust:exact;}
}
.header-lit {
    font-family: "Percolator expert";
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

.header-sub span {
    background-color: #fff;
    padding-left: 3px;
    padding-right: 3px;
}

.list {
    /*background-image: url(back.png);*/
    width: 750px;
    height: 1000px;

    background-image: url(../img/back_big.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 2441px;
    height: 3211px;*/
    display: inline-block;
    line-height: 1;
}

.list-inner {
    padding: 65px; /*for background */
    font-size:0; /* to avoid margins for inline divs*/
}

ins {
    color: green;
    background: #dfd;
    text-decoration: none
}

del {
    color: red;
    background: #fdd;
    text-decoration: none
}

@page {
    size: 21cm 29.7cm;
    margin: 0; /* change the margins as you want them to be. */
}

body {
    margin: 0;
}

.checkbox_vtm {
    background-image: url("../img/checkbox_big.png");
    width: 14px;
    height: 14px;
    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    vertical-align: middle;
    line-height: 1;
}

.checkbox_vtm span {
    vertical-align: top;
    line-height: 12px;
    font-size: 10px;
}

.list-align {
    text-align: center;
    width: 100%;
    display: none;
}

@media print {
    .non-printable {
        display: none;
    }

    .list {
        page-break-inside: avoid;
    }
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: none;
}

.list-sep
{
    width: 100%; height: 50px;display: block;
}


.prop-header {
    font-family: "Percolator expert";
    display: inline-block;
    width: 32%;
    text-align: center;
    font-size: 22px;
    padding-bottom: 4px;
    line-height: 18px;
    background-image: url("../img/h2_bg_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.prop-header-nobg {
    font-family: "Percolator expert";
    display: inline-block;
    width: 32%;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.prop-header span {
    background-color: #fff;
    padding-left: 3px;
    padding-right: 3px;
}

.useful_things
{
    display: none;
}