/*For dots */

.br-wrapper-f .br-widget {
    height: 12px;
    display: inline-block;
}

.br-wrapper-f .br-widget .br-current-rating {
    clear: both;
    width: 330px;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: .5em 0;
    color: #646464;
}

.br-wrapper-f img {
    width: 12px;
    margin-left: 1px;
    margin-top: 1px;
}

/* for pseudo checkbox*/

.br-wrapper-f2 .br-widget {
    height: 12px;
    display: inline-block;
}

.br-wrapper-f2 .br-widget .br-current-rating {
    clear: both;
    width: 330px;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: .5em 0;
    color: #646464;
}

.br-wrapper-f2 img {
    width: 12px;
    margin-left: 1px;
    margin-top: 1px;
}