
.prop_value input {
    width: 100px;
}

.prop_value select {
    width: 100px;
}

.abilities, .advantages, .attributes {
    width: 100%;
    text-align: center;
    line-height: 12px;
}

.props {
    width: 100%;
    padding-left: 5px;
    text-align: center;
}

.numina, .backgrounds, .virtues {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
}

.background_name {
    font-family: "Goudy Old Style";
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    width: 50%;
    text-align: left;
}

.background_value {
    display: inline-block;
    width: 50%;
}

.numina_name {
    font-family: "Goudy Old Style";
    text-align: left;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    width: 65%;
}

.numina_value {
    display: inline-block;
    width: 35%;
}

.trait_name {
    font-family: "Goudy Old Style";
    text-align: left;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    width: 65%;
}

.trait_value {
    display: inline-block;
    width: 35%;
}

.other_traits {
    line-height: 1.4;
}

.humanity_willpower_container, .other_traits_container, .health_exp_container {
    width: 33.3%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.other {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.health-table {
    width: 100%;
    display: inline-block;
    font-family: "Goudy Old Style";
    font-size: 0;
}

.health-value {
    display: inline-block;
    width: 60%;
    text-align: left;
    line-height: 22px;
    font-size: 18px;
    padding-left: 5px;
}

.health-sub {
    display: inline-block;
    width: 20%;
    font-size: 18px;
}

.health-control {
    text-align: center;
    display: inline-block;
    width: 20%;
    font-size: 14px;
    font-weight: bold;
    height: 6px;
    padding-right: 12px;
}

.health-control img {
    width: 14px;
    position: relative;
    left: 14px;
}

.health-control span {

    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 14px;
    font-size: 12px;
}

.experience {
    font-family: "Goudy Old Style";
    font-size: 20px;
    display: inline-block;
    width: 200px;
    height: 20px;
    line-height: 24px;
    position: relative;
}

.prop {
    font-family: "Percolator expert";
    display: inline-block;
    width: 14%;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
}

.prop_value {
    font-family: "Percolator expert";
    font-style: italic;
    display: inline-block;
    width: 19.3%;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
}

.attr {
    font-family: "Goudy Old Style";
    display: inline-block;
    width: 16.6%;
    text-align: left;
    font-size: 18px;
}

.attr_value {
    display: inline-block;
    width: 16.6%;
}

.virtue {
    font-family: "Goudy Old Style";
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 18px;
    line-height: 35px;
}

.virtue_value {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.abl {
    font-family: "Goudy Old Style";
    display: inline-block;
    width: 16.6%;
    text-align: left;
    font-size: 18px;
    line-height: 20px;
}

.abl_value {
    line-height: 12px;
    display: inline-block;
    width: 16.6%;
}
