div.prelude {
    width: 100%;
    display: inline-block;
    height: 180px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}

div.goals {
    width: 100%;
    display: inline-block;
    height: 80px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
    text-align: left;
}

div.description2 {
    width: 50%;
    display: inline-block;
    height: 180px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}

div.description1 {
    width: 50%;
    display: inline-block;
    height: 180px;
    vertical-align: top;
    font-size: 0;
    line-height: 21px;
}

div.descr_name {
    display: inline-block;
    vertical-align: top;
    font-family: "Goudy Old Style";
    font-size: 18px;
    width: 40%;
    text-align: left;
}

div.descr_value {
    display: inline-block;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
    width: 60%;
    text-align: left;
}

div.group_chart {
    width: 50%;
    display: inline-block;
    height: 300px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
}

div.character_sketch {
    width: 50%;
    display: inline-block;
    height: 300px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.file_upload .btn {
    font-family: "Percolator expert";
    font-size: 20px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
img.group_chart
{
    display: none;
}

img.character_sketch
{
    display: none;
}