div.allies, div.influence,div.contacts-major,div.mentor,div.resources,div.contacts-minor,div.fame,div.status,
div.other_backgrounds,div.gear,div.equipment,div.vehicles,div.misc {
    width: 50%;
    display: inline-block;
    height: 90px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}
div.residence_details
{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    font-family: "Times New Roman";
    font-size: 16px;

}