div.allies, div.influence,div.contacts-major,div.mentor,div.resources,div.contacts-minor,div.fame,div.status,
div.other_backgrounds,div.gear,div.equipment,div.vehicles,div.misc {
    width: 49%;
    display: inline-block;
    height: 90px;
    vertical-align: top;
    font-family: "Goudy Old Style";
    font-size: 18px;
}
div.residence_details
{
    width: 100%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
    font-family: "Goudy Old Style";
    font-size: 18px;

}