@media print {
    .list {
        page-break-inside: avoid;
        width: 100%;
        margin:0;
        height: 100%;
    }

    * {
        -webkit-print-color-adjust: exact;
    }
}

@page {
    size: 21cm 29.7cm;
    margin: 0;
}
