@media print {

    html, body {
        width: 100%;
        height: 297mm;
    }

    .list {
        page-break-inside: avoid;
        width: 100%;
        height: 100%;
    }

    * {
        -webkit-print-color-adjust: exact;
    }
}

@page {
    size: 21cm 29.7cm;
    margin: 0;
}