@font-face {
    font-family: Percolator;
    src: url(../fonts/Percolator.otf);
}

@font-face {
    font-family: "Percolator expert";
    src: url("../fonts/Percolator-expert.otf");
}

@font-face {
    font-family: "Goudy Old Style";
    src: url("../fonts/Goudy Old Style Regular.ttf");
}

.main-header {
    font-family: Percolator;
    text-align: center;
    font-size: 40px;
    padding-top: 5px;
}

.header-sub {
    font-family: "Percolator expert";
    text-align: center;
    font-size: 28px;
    line-height: 22px;
    background-image: url("../img/h1_bg_big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-sub span {
    background-color: #fff;
    padding-left: 3px;
    padding-right: 3px;
}

.list {
    /*background-image: url(back.png);*/
    width: 750px;
    height: 1000px;

    background-image: url(../img/back_big.png);
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 2441px;
    height: 3211px;*/
    display: block;
    line-height: 1;
}

.list-inner {
    padding: 60px;
}

@page {
    size: 21cm 29.7cm;
    margin: 0; /* change the margins as you want them to be. */
}

body {
    margin: 0;
}

.checkbox_vtm {
    background-image: url("../img/checkbox_big.png");
    width: 12px;
    height: 12px;
    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    vertical-align: middle;
}

.checkbox_vtm span {
    vertical-align: top;
    line-height: 12px;
    font-size: 10px;
}
