/* used only in jqueryui and jquery demos */
body {
}

#user {
  border-collapse: collapse; 
  width: 100%;  
}

#user > tbody > tr > td {
    border: solid 1px gray;
    height: 25px;
    padding: 3px;
}

.muted {
   color: #999999;
}

.alert {
  padding: 5px;
  margin-bottom: 10px;  
}

.input-large {
  width: 300px;  
}

