.flaws, div.derangements, div.languages, .merits {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.derangements, .languages {
    height: 100px;
    vertical-align: top;
    font-family: "Times New* Roman";
    font-size: 16px;
    line-height: 18px;
}

.merit_name, .flaw_name {
    display: inline-block;
    font-family: "Goudy Old Style";
    font-size: 18px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    width: 60%;
}

.merit_value, .flaw_value {
    line-height: 20px;
    vertical-align: top;
    display: inline-block;
    width: 40%;
    text-align: center;
}

.custom_prop_name {
    display: inline-block;
    font-family: "Times New Roman";
    font-size: 16px;
    text-align: left;
    width: 60%;

}

.custom_prop_value {
    line-height: 20px;
    display: inline-block;
    width: 40%;
    text-align: center;

}

.custom_props {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 20px;
    vertical-align: top;
}

.custom_prop_holder {
    text-align: center;
    display: inline-block;
    width: 50%;
}

table.combat tr td, table.armor tr td {
    line-height: 26px;
    height: 40px;
    padding: 0;
    vertical-align: middle;
    font-size: 0;
    font-family: "Times New Roman";
}

table.combat thead tr td, table.armor thead tr td {
    font-family: "Goudy Old Style";
    font-size: 18px;
    border: 0;
}

table.combat tbody tr td, table.armor tbody tr td {
    border: 2px solid #000;
}

table.combat tbody tr td span, table.armor tbody tr td span, table.combat thead tr td span, table.armor thead tr td span {
    width: 100%;
    display: inline-block;
    font-size: 16px;
}
